body {
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-size: 5vmin;
  line-height: 1.5;
}

#logo_image {
 width: 35vmin;
}
hr {
    border: solid 1px black;
    max-width: 120vmin;
    margin: auto;
}
